{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/dash-page.css">
    <link rel="stylesheet" type="text/css" href="/static/css/l.css">

{% endblock %}

{% block bar %}
<div class="wrapper">
    <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">
        <!-- sidebar -->
        <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
            </ul>
            <ul class="nav hidden-xs" id="lg-menu">
              <li class="active"><a href="/dash"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
              <li><a href="/dash/history/"><i class="glyphicon glyphicon-book"></i> History</a></li>
              <li><a href="/dash/program"><i class="glyphicon glyphicon-list"></i> Program</a></li>
            </ul>

            <!-- tiny only nav-->
            <ul class   ="nav visible-xs" id="xs-menu">
              <li><a href ="#featured" class="text-center"><i class="glyphicon glyphicon-list-alt"></i></a></li>
              <li><a href ="#stories" class="text-center"><i class="glyphicon glyphicon-list"></i></a></li>
              <li><a href ="#" class="text-center"><i class="glyphicon glyphicon-paperclip"></i></a></li>
              <li><a href ="#" class="text-center"><i class="glyphicon glyphicon-refresh"></i></a></li>
            </ul>
          </div>
          <!-- /sidebar -->

          <!-- main right col -->
          <div class="column col-sm-10 col-xs-11" id="main">
            <!-- top nav -->
            <div class="navbar navbar-default navbar-static-top">
              <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand "  href="{% url "home" %}"><img src="/static/img/f.png" height="36px" weight="36px">Syllabus</a>
              </div>
              <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
               <ul class="nav navbar-nav">
                 <li><a href = "/profesores/page/1">Profesor</a></li>
               <li><a href = "#">Retiro</a></li>
              <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                            {% if user.is_authenticated %}
                            <li><a href="{% url "login_v"%}">Settings</a></li>
                            <li><a href="{% url "logout_v" %}">Logout</a></li>
                            {% else %}
                            <li><a href="{% url "login_v"%}">Sign in</a></li>
                            <li><a href="{% url "sign_up" %}">Sign up</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
  <!-- /top nav -->
  {% endblock %}
{%block content%}
{% block contenido %}
{% endblock contenido %}
    </div>
  </div>
</div>
{%endblock%}



