{% extends 'base.html' %}

{%block title%}{{user.get_full_name}}- Pensum{%endblock%}
{%block content%}
<br><br>
<div id="container tabs">
    <ul class="nav nav-tabs">
        <li class="active"><a href="/dash/"><i class="icon-user"></i>About</a>
        <li><a href="/dash/history/"><i class="icon-book"></i>History</a></li>
    </ul>
</div>
<div class="page-header">
  <h1>{{user.get_full_name}}</h1>
</div>

<h3>Basic Infomation</h3>
<p>Carrera:  {{ uprofile.carrera}}</p>
<p>Creditos Aprobados: {{uprofile.get_credito_apobado}}</p>
{%endblock%}



