{%extends 'base.html' %}
{%block title%} Syllabus {%endblock%}
 {% block css%}
    <link href="/static/css/landing-page.css" rel="stylesheet">

 {%endblock%}
{%block content%}
    <div class="intro-header" id="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Syllabus</h1>
                        <h2>Make your own pensum</h2>
                        <h2>Manage your pensum </h2>
                        <hr class="intro-divider">
                        <a href="/signup/" type="button" class="btn btn-lg  btn-default">Sign Up</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
   <div id="content">
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">The app that all student need</h2>
                    <p class="lead">Syllabus help organize yor academic career helping you chosse better courses period by period</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive img-rounded" src="static/img/f.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Accessed from any device</h2>
                    <p class="lead">You can check your classes from any device from your tablet, smartphone or computer</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="static/img/img-b.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Checkout and reviews your teachers</h2>
                    <p class="lead">Syllabus allows your to see which professors are giving your enrolled courses and helps you choosse which professors are the best recomended.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive img-rounded" src="static/img/img-a2.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                <center>
                <h2>Star Now:</h2>
                <br>
                <a href="/signup/" type="button" class="btn btn-lg btn-default">Sign Up</a></center>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
</div>

{%endblock%}


