{%extends 'base.html' %}
{%block title%} Home {%endblock%}
{% block bar%}
   <!-- Navegation bar -->
    <div class="navbar transparent navbar-default navbar-fixed-top trans" id="trans">
        <div class="container">
            <div class="navbar-header">
            <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>

               </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url "login_v"%}">Sign in</a></li>
                 </ul>
            </div>
        </div>
    </div>
  {% endblock %}
{%block content%}
   <center><div class="jumbotron trans" >
<img src="/static/img/f.svg" class="img-responsive" >
        <h1>
        Manage your academic curriculum</h1>
        <h1>Make your own curriculum</h1>
        <a  class="btn btn-lg btn-default" href="{% url "sign_up" %}">Sign Up</a>
 </div></center>
{%endblock%}


