{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="static/css/profesor-pages.css" type="text/css" media="all" />
    <script src="static/js/profesor.js"></script>

{% endblock %}

{%block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Profesor List</h1>
            </div>
        </div>

{% if profesores %}

<div class="container">
 <div class="well col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
 {% for p in profesores %}
        <div class="row user-row">
            <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
                <img class="img-circle"
                     src="/static/img/user.png"
                     alt="User Pic" height="48px" weight="48px">
            </div>
            <a href="/profesor/{{p.id}}"><div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
                <strong>{{ p.getFull_name}}</strong><br>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <i class="glyphicon glyphicon-chevron-down text-muted"></i></a>
            </div>
        </div>
                {% endfor %}

{% else %}
        <h2>No existen Profesores</h2>
{% endif %}
</div>
{% if profesores %}
<div class="row text-center">

            <div class="col-lg-12">
                <ul class="pagination">

        {% if profesores.has_previous %}
        <li><a href="/profesores/page/1"> << </a></li>
                <li><a href="/profesores/page/{{profesores.previous_page_number }}/"> Prev </a></li>

        {% endif %}
                <li><a href="#">{{ profesores.number }}</a></li>
        {% if profesores.has_next %}
                <li><a href="/profesores/page/{{profesores.next_page_number }}/"> Next </a></li>
                <li><a href="/profesores/page/{{profesores.paginator.num_pages }} "> >> </a></li>
                </ul>
        {% endif %}
            </div>

        </div>
{% endif %}
<br><br>
{% endblock %}
