{% extends 'Base-dash.html' %}

{%block title%}{{user.get_full_name}} - History{%endblock%}
{%block contenido %}

<div class="padding">
  <div class="full col-sm-12">

    <!-- content -->
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1>Next Subjects</h1>
        </di>
        <div class="panel-body">
          {% for m in materias%}
          {% if m and m.importancia = 4 %}
            <p style="color: #c11919"> {{m.id }}-{{ m.nombre }} </p>
          {% elif  m and m.importancia = 3 %}
            <p style="color: #ff6500"> {{m.id }}-{{ m.nombre }} </p>
          {% elif  m and m.importancia = 2 %}
            <p style="color: #ffc754"> {{m.id }}-{{ m.nombre }} </p>
          {% else %}
          <p > {{m.id }}-{{ m.nombre }} </p>
          {% endif %}
          {% endfor %}
        </div>
        <div class="panel-footer">
          <a href="/user/settings" class="btn btn-sm btn-primary" type="button" data-toggle="tooltip" data-original-title="Setting"><i class="glyphicon glyphicon-cog"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>


{%endblock%}